$sytac-orange: #e67e22;
$sytac--orange-light: rgba(230, 126, 34, 0.8);

$sytac-workflow-stage-1: rgb(255, 235, 59);
$sytac-workflow-stage-2: #28a745;
$sytac-workflow-stage-3: #17a2b8;
$sytac-workflow-stage-4: #868e96;
